{% macro render_field(field) -%}
  {{ field.label }}
  {{ field(class_="form-control",**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-inline">{{ error }}</span>
    {% endfor %}
  {% endif %}
{%- endmacro %}
