{# extend based on regular page #}
{% extends 'page.html.j2'%}
{% from 'includes/_formhelper.html.j2' import render_field %}

{# set the page title#}
{# set the body block #}
{% block body %}
<main role="main" class="container">
  <h1>Plaq Settings</h1>
  <form method="post" action="">
    <div class="form-group">
      {{render_field(form.computer_name)}}
    </div>
    <div class="form-group">
      {{render_field(form.ip_address)}}
    </div>
    <div class="form-group">
      {{render_field(form.subnet_mask)}}
    </div>
    <div class="form-group">
      {{render_field(form.gateway)}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
</main>
{% endblock %}
